n8n-templates/rag_admin_advisor.json
{
  "name": "rag-admin-advisor",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "f8c4d83f-abaa-4318-93f6-4179f5026a69",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -360,
        100
      ],
      "credentials": {
        "openAiApi": {
          "id": "XEJQq7TOnOdvAGgV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4091e972-cc47-4be6-b5bf-e42cf04c6a1c",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        460,
        40
      ],
      "credentials": {
        "openAiApi": {
          "id": "XEJQq7TOnOdvAGgV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "febf2f3d-712e-4fce-bcaa-dc08b0f1ee0c",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        600,
        580
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "150aa38f-fe6f-4d27-a174-c9ece1a525d6",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        440,
        580
      ],
      "credentials": {
        "openAiApi": {
          "id": "XEJQq7TOnOdvAGgV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions."
      },
      "id": "4b9299eb-dd6f-498c-97ee-8b47ce688f01",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        240,
        -140
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "b3338aeb-d6bd-4570-b413-0164c465f238",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        -260
      ]
    },
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 671.8877842322804,
        "width": 2070.8894079025763,
        "color": 5
      },
      "id": "e44342f6-6432-406a-8014-65b896914a3b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1160,
        300
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "9594f40e-ff60-43b7-a2f4-af4976b6797f",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -60,
        460
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HXHfITwBAKRYUxza",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1lkYbhIIwvrP0awzxzCC92FTS7Z5OjdY1",
          "mode": "list",
          "cachedResultName": "meeting-notes",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lkYbhIIwvrP0awzxzCC92FTS7Z5OjdY1"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "4d104704-8d48-4bf5-88bb-2a25e68b6396",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        360
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HXHfITwBAKRYUxza",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1lkYbhIIwvrP0awzxzCC92FTS7Z5OjdY1",
          "mode": "list",
          "cachedResultName": "meeting-notes",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lkYbhIIwvrP0awzxzCC92FTS7Z5OjdY1"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "36433e2a-5d73-4d42-bfe4-9fcea99fc3c1",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        580
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HXHfITwBAKRYUxza",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "f8b72e69-3ed2-49f9-a74b-6e331c2b4950",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        200,
        460
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "a36ba243-ceda-473e-8e08-bf795b5b42f0",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        280,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "XEJQq7TOnOdvAGgV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "=fromInput",
        "sessionKey": ""
      },
      "id": "845af540-5607-4b87-ac38-b5914c36088a",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -220,
        100
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "2QJMVAaeiG3rUEDB",
          "name": "Postgres account (supabase)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e79da276-a4cf-44ac-b883-615329c41240",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        600,
        780
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "05c6a1dd-ff1a-4af3-b20c-f035df9fefb4",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -360,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "3fHRgyFTbSmqPXOM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6768e7f3-f07c-490f-a7c4-c128389f7f90",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        460
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 464.8027193303974,
        "width": 692.7866482806627
      },
      "id": "caaf801a-4b85-4424-9c9c-d6be360d2ba8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        -200
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Nabi. How can I assist you today?",
        "options": {}
      },
      "id": "dd738fae-d50e-4967-b513-49a45738f646",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -580,
        -120
      ],
      "webhookId": "e985d15f-b2f6-456d-be15-97e0b1544a40"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself. You can also retrieve release notes when users ask about product updates for specific months and years. If a user asks about release notes, make sure to identify the month and year from their query and use the release_notes tool to retrieve the information."
        }
      },
      "id": "84dc4815-15e5-4249-8127-28f8a5118f37",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -260,
        -120
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "3a339f62-a995-49a7-b0e7-409a120e300e",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        120,
        20
      ],
      "credentials": {
        "supabaseApi": {
          "id": "3fHRgyFTbSmqPXOM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "5adff47b-53a5-45f9-8383-b74dcc8e87c6",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        480,
        360
      ],
      "credentials": {
        "supabaseApi": {
          "id": "3fHRgyFTbSmqPXOM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get the Release Note information for the certain year and month.",
        "method": "POST",
        "url": "https://us-east-1.qa.hosted.ncino.com/gen-ai-platform/runs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "aws",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"actionName\": \"release_note_retriever\",\n  \"input\": {\n    \"month\": {month},\n    \"year\": {year}\n  }\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "month",
              "description": "numeric value of the month",
              "type": "number"
            },
            {
              "name": "year",
              "description": "numeric value of the year",
              "type": "number"
            },
            {
              "name": "input",
              "type": "json"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -100,
        -360
      ],
      "id": "1d580c1e-f038-4be4-84e3-1c093f985d2a",
      "name": "HTTP Request",
      "credentials": {
        "aws": {
          "id": "EgiSDBvDDniU956W",
          "name": "AWS account (genAI)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "acfe6efc-a59b-4568-94e9-f3255f34aa81",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3683d871f68b9de5af7ec6e7fd49420011ba1a3531e62894293e9ccec8fe3f3"
  },
  "id": "B75bmjtL0Us8joBE",
  "tags": []
}